// CONTACT PAGE

.contact-container {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}

.contact-element-container {
  display: inline-block;
  margin-top: 80px;
  text-align: center;

}

.contact-link {
  display: inline-block;
  // margin-bottom: 20px;
}

.email {
  text-align: center;
  display: inline-block;
  // margin-right: 40px;
}

.contact-text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.facebook {
  text-align: center;
  display: inline-block;
  // margin-right: 40px;
}

.email {
  background: url(../icons/email.png) no-repeat center;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  width: 80px;
  height: 80px;
}

.email:hover {
  background: url(../icons/email-hover.png) no-repeat center;
  width: 80px;
  height: 80px;
}

.facebook {
  background: url(../icons/facebook.png) no-repeat center;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  width: 80px;
  height: 80px;
}

.facebook:hover {
  background: url(../icons/facebook-hover.png) no-repeat center;
  width: 80px;
  height: 80px;
}
