a {
  text-decoration: none;
}

.logo a {
  color: #F1F1F1;
}

h1 {
  color: #F1F1F1;
  font-family: 'latolight';
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

h2 {
  color: #F1F1F1;
  font-family: 'vollkornitalic';
  font-size: 1.7em;
  letter-spacing: 0.1em;
}

h2.about-header {
  font-size: 2em;
  letter-spacing: 0.1em;
}

h2.email-text {
  color: #F1F1F1;
  font-size: 1.6em;
  letter-spacing: 0.1em;
}

h2.music-header {
  font-size: 1.8em;
}

h2.music-header-mobile {
  font-size: 1.8em;
}

p.about-text {
  color: #F1F1F1;
  font-family: 'vollkornregular';
  font-size: 1.2em;
  text-indent: 2em;
  margin-bottom: 1em;
}

p.album-info {
  color: #F1F1F1;
  font-family: 'vollkornregular';
  font-size: 1em;
}


h3.album-title-text {
  color: #F1F1F1;
  font-family: 'vollkornitalic';
  font-size: 1.4em;
}

h3.album-author {
  color: #F1F1F1;
  font-family: 'vollkornregular';
  font-size: 1.2em;
}

h4.music-links {
  color: #F1F1F1;
  font-size: 1.3em;
  text-align: center;
}

h4.music-links:hover {
  color: #E8BF98;
}

h5 {
  color: #F1F1F1;
  font-family: 'vollkornitalic';
  font-size: 1em;
}

h5:hover {
  text-decoration: underline;
}



// a.contact-links:hover {
//   color: #E8BF98;
// }

// @media only screen and (max-width: 500px) {
//   h1 {
//     font-size: 2.5em;
//   }
// }

@media only screen and (max-width: 480px) {
  h1 {
    font-family: 'latoregular';
    font-size: 1.78em;
  }

  h2 {
    font-size: 1.1em;
  }

  h2.about-header {
  font-size: 1.8em;
  }

  p.about-text {
    font-size: 1.1em;
  }
}
