// font-family: 'Vollkorn', serif;

// font-family: 'Lato', sans-serif;



a {
  text-decoration: none;
  color: #F1F1F1;
}

.logo a {
  color: #F1F1F1;
}

// Logo Font
h1 {
  color: #F1F1F1;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

// Classy title
h2 {
  color: #F1F1F1;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.7em;
  letter-spacing: 0.1em;
}

h2.music-header-mobile {
  font-size: 1.8em;
}

h6 {
  color: #F1F1F1;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1.6em;
}



p.about-text {
  color: #F1F1F1;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 2.0em;
  // text-indent: 2em;
  margin-bottom: 2em;
  text-align: left;
}

p.album-info {
  color: #F1F1F1;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4em;
}

// subtext
h3.album-title-text {
  color: #F1F1F1;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.4em;
}

h3.album-author {
  color: #F1F1F1;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 1.2em;
}

h4.music-links {
  color: #F1F1F1;
  font-size: 1.3em;
  text-align: center;
}

h4.music-links:hover {
  color: #E8BF98;
}

// small link
h5 {
  color: #F1F1F1;
  font-family: 'Vollkorn', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
}

h5:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-family: 'Lato', sans-serif;
  font-weight: 400;
    font-size: 1.78em;
  }

  h2 {
    font-size: 1.1em;
  }

  h2.about-header {
  font-size: 1.8em;
  }

  p.about-text {
    font-size: 1.1em;
  }
}
