// HOME PAGE
// .profile-pic {
//   // width: 320px;
//   width: 240px;
//   height: 100%;
//   }

  .profile-pic-2 {
    max-width: 620px;
  }

.new-release-image {
  // width: 360px;
  width: 300px;
}

// ABOUT PAGE

.treble-img {
  margin-top: 2em;
  margin-bottom: 4em;
}

.about-image {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2em;
}

.about-image-2 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2em;
}

.about-image-2b {
  max-width: 360px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 2.6em;
}

// MUSIC PAGE
.image-size {
  height: 200px;
  width: 200px;
}

.itunes-buy {
  background: url(../icons/itunes-buy.png) no-repeat center;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  width: 40px;
  height: 40px;
}

.itunes-buy:hover {
  background: url(../icons/itunes-buy-hover.png) no-repeat center;
  width: 40px;
  height: 40px;
}

.amazon-buy, .amazon-buy-memories {
  background: url(../icons/amazon-buy.png) no-repeat center;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  width: 40px;
  height: 40px;
}

.amazon-buy:hover, .amazon-buy-memories:hover {
  background: url(../icons/amazon-buy-hover.png) no-repeat center;
  width: 40px;
  height: 40px;
}

// CONTACT PAGE
.email {
  background: url(../icons/email.png) no-repeat center;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  width: 80px;
  height: 80px;
}

.email:hover {
  background: url(../icons/email-hover.png) no-repeat center;
  width: 80px;
  height: 80px;
}

.facebook {
  background: url(../icons/facebook.png) no-repeat center;
  transition: background 0.2s ease-in;
  -webkit-transition: background 0.2s ease-in;
  width: 80px;
  height: 80px;
}

.facebook:hover {
  background: url(../icons/facebook-hover.png) no-repeat center;
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 480px) {
  // HOME PAGE
  .profile-pic-2 {
  max-width: 320px;
  width: 100%;
  height: 100%;
  }



  .new-release-image {
  width: 100%;
}

  // ABOUT PAGE
  .about-image {
    width: 100%;
  }

  .about-image-2b {
  width: 360px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  margin-bottom: 2.6em;
}

  // CONTACT PAGE
  .email {
  width: 80px;
  height: 80px;
}
}
