.profile-pic {

  // width: 320px;
  width: 240px;
  height: 100%;
  }

// .contact-link {
//   width: 80px;
//   height: 100%;
// }

// .email:hover {
//   color: #E8BF98;
// }

.email {
  background: url(/assets/icons/email.png);
  transition: background 0.5 ease;
  width: 80px;
  height: 80px;
}

.email:hover {
  background: url(/assets/icons/email-hover.png);

  width: 80px;
  height: 80px;
}

.soundcloud {
  background: url(/assets/icons/soundcloud.png);
  width: 80px;
  height: 80px;
}

.soundcloud:hover {
  background: url(/assets/icons/soundcloud-hover.png);
  width: 80px;
  height: 80px;
}


@media only screen and (max-width: 480px) {

  .profile-pic {
  max-width: 180px;
  width: 100%;
  height: 100%;
  }
}
