/*  Removable CSS  */

.head-line {
  display: block;
  color: #F1F1F1;
  height: .5px;
  width: 520px;
}

.header-section,
.body-section,
.footer-section
{padding: 20px;}

.header-section {
  margin-top: 10px;
  background-color: #1B1B1B;}

.body-section {
  text-align: center;
  background-color: #1B1B1B;
  margin-right: 0 auto;
  margin-left: 0 auto;
  width: 100%;
}

.profile-pic {
  margin-top: 20px;
}

.home-sub-title {
  margin-top: 60px;
}

.footer-section {
  background-color: #1B1B1B;
  // width: 100%;
}


// CONTACT PAGE
.contact-container {
  display: inline-block;
  margin-top: 70px;

  text-align: center;

}

.contact-link {
  display: inline-block;
  // margin-bottom: 20px;
}

.email {
  text-align: center;
  display: inline-block;
  margin-right: 40px;
}

.soundcloud {
  text-align: center;
  display: inline-block;
  margin-left: 40px;

}



.contact-links {
  // position: relative;

}


// MEDIA QUERIES
@media only screen and (max-width: 780px) {
  .head-line{
    display: none;
  }

  .profile-pic {
    margin-top: 15px;
  }

  .home-sub-title {
    margin-top: 45px;
  }

}
