/*  Removable CSS  */

.head-line {
  display: block;
  color: #F1F1F1;
  height: .5px;
  width: 520px;
}

.header-section,
.body-section,
.footer-section
{padding: 20px;}

.header-section {
  margin-top: 10px;
  background-color: #1B1B1B;}

.body-section {
  text-align: center;
  background-color: #1B1B1B;
  margin-right: 0 auto;
  margin-left: 0 auto;
  width: 100%;
}

.profile-pic {
  margin-top: 20px;
}

.home-sub-title {
  margin-top: 60px;
}

.footer-section {
  background-color: #1B1B1B;
  // width: 100%;
}

// MUSIC PAGE
.music-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.music-header {
  margin-bottom: 1em;
}

.album-container {
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
   // max-width: 620px;
   width: 100%;
   margin-bottom: 80px;
}

.album-specs {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-content: space-between;
  -webkit-align-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}


hr.album-separator {
  margin-top: 0px;
  padding-right: 20px;
  height: 1px;
  width: 320px;
}

.album-title-text, .album-author, .album-info {
  margin-bottom: 30px;
}

.album-info{
  max-width: 320px;
}
.itunes-buy {
  float: left;

}

.amazon-buy {
  position: relative;
  margin-left: 60px;
}

.amazon-buy-memories {
  position: relative;
  margin-left: 0px;
}

#music-menu {
  background-color: rgba(27,27,27,.7);
  height: 60px;
  margin: 0;
  width: 100%;
  padding-top: 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.music-header-mobile {
  display: none;
}

.music-header {
  display: inline-block;
}

.music-links {
  display: inline;
  text-align: center;
  // margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 2px;
}



.soundcloud-player {
  padding-top: 60px;
  margin-bottom: 40px;
  max-width: 620px;
}

.footer-container-music {
  height: 155px;
}


// ABOUT PAGE
.about-header {
  margin-bottom: 1em;
}

.about-container {
  display: inline-block;
  max-width: 620px;
  text-align: justify;
}

.about-text {
  left: 50%;
}




// CONTACT PAGE
.contact-container {
  display: inline-block;
  margin-top: 70px;
  text-align: center;

}

.contact-link {
  display: inline-block;
  // margin-bottom: 20px;
}

.email {
  text-align: center;
  display: inline-block;
  // margin-right: 40px;
}

.email-text {
  margin-top: 20px;

}


// MEDIA QUERIES
@media only screen and (max-width: 780px) {
  .head-line{
    display: none;
  }

  .profile-pic {
    margin-top: 15px;
  }

  .home-sub-title {
    margin-top: 45px;
  }

  // MUSIC PAGE

  .album-specs {
    // margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  hr.album-separator {
    width: 320px;

  }

  #music-menu {

      position: absolute;
      right: -1000px;
    }

  .music-header-mobile {
    display: inline-block;
    text-align: center;
  }

}

@media only screen and (max-width: 510px) {
  hr.album-separator {
    // width: 100%;
  }

  .album-specs {
    margin-top: 20px;
  }


}

@media only screen and (max-width: 480px) {
    .album-specs {
      margin-left: 0px;
      margin-right: 0px;
    }

    hr.album-separator {
      width: 280px;
    }


  }
