/*  Removable CSS  */

.head-line {
  display: block;
  color: #F1F1F1;
  height: .5px;
  width: 520px;
}

.header-section,
.body-section,
.footer-section
{padding: 20px;}

.header-section {
  margin-top: 10px;
  background-color: #1B1B1B;}

.body-section {
  text-align: center;
  background-color: #1B1B1B;
  margin-right: 0 auto;
  margin-left: 0 auto;
  width: 100%;
}

.profile-pic {
  margin-top: 20px;
}

.home-sub-title {
  margin-top: 60px;
}

.footer-section {
  background-color: #1B1B1B;
  // width: 100%;
}

// MUSIC PAGE
.music-container {
  display: inline-block;
  max-width: 620px;
  text-align: center;
}

.music-header {
  margin-bottom: 1em;
}

.album-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: row wrap;
  -webkit-flex-wrap: row wrap;
  width: 100%;

}

.flex-item {
  height: 200px;
}

.image-size {
  float: left;
}

.album-specs {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;

  // justify-content: space-between;
  // -webkit-justify-content: space-betwen;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  width: 400px;
}





hr.album-separator {
  // align-self: flex-start;
  // -webkit-align-self: flex-start;
  margin-top: 0px;
  padding-right: 20px;
  height: 1px;
  width: 100%;
}

.album-link-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

// .itunes-buy {
//   display: inline;
// }

// .amazon-buy{
//   display: inline;
// }

// ABOUT PAGE
.about-header {
  margin-bottom: 1em;
}

.about-container {
  display: inline-block;
  max-width: 620px;
  text-align: justify;
}

.about-text {
  left: 50%;
}




// CONTACT PAGE
.contact-container {
  display: inline-block;
  margin-top: 70px;
  text-align: center;

}

.contact-link {
  display: inline-block;
  // margin-bottom: 20px;
}

.email {
  text-align: center;
  display: inline-block;
  // margin-right: 40px;
}

.email-text {
  margin-top: 20px;

}


// MEDIA QUERIES
@media only screen and (max-width: 780px) {
  .head-line{
    display: none;
  }

  .profile-pic {
    margin-top: 15px;
  }

  .home-sub-title {
    margin-top: 45px;
  }

}
